* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d6dce6;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 135px;
  width: 420px;
  max-width: 80vw;

  position: relative;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, #e9ebeb, #bdc7d6);
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 86px;
  border-radius: 50%;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  transform: translateX(145px);
}

input[type="checkbox"]:after {
  position: absolute;
  content: "";
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 65px;
  height: 65px;
  background: linear-gradient(to top, #e9ebeb, #bdc7d6);
  border-radius: 50%;
}

label {
  height: 135px;
  width: 300px;
  background: linear-gradient(to bottom, #bdc8da, #eaedf2);
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 70px;
  margin: auto;
  cursor: pointer;
}

label:after {
  background-color: #23b65b;
  position: absolute;
  content: "";
  width: 200px;
  height: 30px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 30px;
  box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

input[type="checkbox"]:checked + label:after {
  background-color: #c45168;
}

label span {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 21px;
  transition: 0.2s;
  position: absolute;
  top: 55px;
}

label span:nth-child(1) {
  left: -55px;
  color: #23b65b;
}

label span:nth-child(2) {
  right: -55px;
  color: #909090aa;
}

input[type="checkbox"]:checked + label span:nth-child(1) {
  color: #909090aa;
}

input[type="checkbox"]:checked + label span:nth-child(2) {
  color: #c45168;
}
